:root{
    --main-color: #B7743F;
    --action: #19B88B;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;    
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    margin: 0;
    padding-top: 10rem;
    background: black;
}

section{
    padding: 1rem 7%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: white;
    font-weight: 400;
    line-height: 1.4; 
    letter-spacing: 0px;
}

.heading span{
    color:var(--main-color);
}

.btn{
    display: inline-block;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: static;
    bottom: 47px;
    border-radius: 16px;
    background-color: var(--main-color);    
    color: white;    
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    margin-top: 5rem;
}

.btn:hover{
    letter-spacing: 0.1rem;
}

.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;   
}

.header .logo img{
    height: 6rem; 
    margin-right: auto; 
    padding: 0; 
}

.header .navbar_1,
.header .navbar_2,
.header .icons {
    display: flex;
    flex-wrap: nowrap; 
    background: black;
    justify-content: space-around; 
    padding: 1rem;
}  

.header .navbar_1 md-tab,
.header .navbar_2 md-tab{
    margin:0 1rem;
    padding: 2rem;
    font-size: 1.6rem;
    color: #fff;   
    text-decoration: none; 
    transition: color 0.3s ease;
}

.header .navbar_1 md-tab:hover,
.header .navbar_2 md-tab:hover{
    color: var(--main-color);
    border-bottom: solid;
    padding-bottom: 2rem;    
}

.header .navbar_1.active,
.header .navbar_2.active {
    right: 0;
    display: flex; 
    flex-direction: column; 
}

.header .icons md-tab{
    color: #ffff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    padding: 2rem
}

.header .icons md-tab:hover{
    color:var(--main-color);
}
    
#menu-btn{
    display: none;
}    

.header .search-form{
    position: absolute;
    top: 95%; right:28%;
    background: black;
    width: 80rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;    
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;
}

.header .search-form label:hover{
    color: var(--main-color);

}

.header .cart-items-container{ 
    position: absolute;
    top:100%; right: -100%;
    height: auto;
    width: 35rem;
    background: white;
    padding:4rem;
    border-radius: 1rem;         
}

.header .cart-items-container.active{
    right:0;
}


.header .cart-items-container .cart-item{
    position: relative;   
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .cart-items-container .cart-item .material-symbols-outlined {
    color: black;    
    cursor: pointer;
    border-radius: 0.5rem;
}

.header .cart-items-container .cart-item .material-symbols-outlined:hover {
    background-color: var(--main-color);
}


.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 1.6rem;
    color: black;
    padding-bottom: 1rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.6rem;;
    color: var(--main-color);
}

.header .cart-items-container .btn{       
    background-color: var(--action);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../Images/01_hero_section.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content h3{
    font-size: 7rem;
    color: white;
    font-weight: 400;
    line-height: 8rem; 
    letter-spacing: -0.25px;    
}

.home .content p{
    font-size: 4rem;
    color: white;
    font-weight: 400;
    line-height: 1.4; 
    letter-spacing: 0px;       
}


.about {
    min-height: 100vh;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    background: url(../Images/02_about_us.png) no-repeat;
    background-size: cover;
    background-position: center;    
}

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;   
    padding: 0 2rem;
}

.about .row .content{
    flex:1 1 45rem;
    padding:10rem;
    text-align: center; 
}

.about .row .content .heading {
    position: relative;
}

.about .row .content h3{
    font-size: 3rem;
    color: white;
    font-weight: 400;
    line-height: 1.4; 
    letter-spacing: 0px;
    padding: 2rem;    
}

.about .row .content .horizontal-line {
    width: 400px; 
    height: 1px; 
    background-color: white; 
    margin: 0.5rem auto 2rem auto; 
}

.about .row .content p{
    font-size: 2rem;
    color: white;
    line-height: 1.8; 
    letter-spacing: 0px;
    padding: 2rem;    
}

.about .row .content .button-container .btn {
    display: inline-block;
    color: var(--main-color);
    border: 2px solid var(--main-color); 
    background: transparent; 
    text-decoration: none;
    transition: var(--main-color);
}

.about .row .content .button-container .btn:hover {
    background: var(--main-color);
    color: white;
}

.menu {
    margin-top: 10rem; 
}

.menu .horizontal-line {
    width: 400px; 
    height: 1px; 
    background-color: white; 
    margin: 0.5rem auto 2rem auto; 
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:5rem;
    margin-top: 10rem;
}

.menu .box-container .box{
    height:55rem;
    border-radius: 2rem;
    text-align: center;   
    color: var(--main-color);
    border: 2px solid var(--main-color); 
    background: transparent; 
    text-decoration: none;
    transition: var(--main-color);    
}

.menu .box-container .box img{
    width: 100%;
    height: auto;
    max-height: 300px; 
    object-fit: cover;
    margin-bottom: 16px; 
    border-radius: 2rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:var(--main-color);
}

.menu .box-container .box:hover h3,
.menu .box-container .box:hover .price{
    color: black; 
}

.menu .box-container .box .btn{
    color: white ;     
    background: var(--action);
}

.menu .btn.see-more {
    display: block;
    margin: 8rem auto;    
    text-align: center;    
    width: fit-content;    
}

.Products {
    margin-top: 10rem; 
}

.Products .horizontal-line {
    width: 400px; 
    height: 1px; 
    background-color: white; 
    margin: 0.5rem auto 2rem auto; 
}

.Products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:5rem;
    margin-top: 10rem;
}

.Products .box-container .box{
    height:60rem;
    border-radius: 2rem;
    text-align: center;   
    color: var(--main-color);
    border: 2px solid var(--main-color); 
    background: transparent; 
    text-decoration: none;
    transition: var(--main-color);    
}

.Products .box-container .box img{
    padding: 2rem;;
    width: 100%;
    height: auto;
    max-height: 300px; 
    object-fit: cover;
    margin-bottom: 16px; 
    border-radius: 2rem;
}

.Products .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.Products .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.Products .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.Products .box-container .box .btn{
    color: white ;     
    background: var(--action);
}

.Products .box-container .box:hover .btn {
    background: var(--main-color);    
}

.Products .btn.see-more {
    display: block;
    margin: 8rem auto;        
    width: fit-content;    
}

.reservation{
    background: #161B21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}

.reservation .heading{
    text-align: left
}      

.reservation .form-container{
    display: grid;
    grid-template-columns: 30 rem 30 rem;
}

.reservation .form-content{    
    height: 40rem
}

.reservation .form-row{
    display: flex;
    width: 100rem;
    height: 8rem;    
}

.reservation select, form input{
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    border-radius: 1rem;
    text-align: center;   
    color: var(--main-color);
    border: 2px solid var(--main-color); 
    background: transparent; 
    text-decoration: none;
    transition: var(--main-color);
}

.reservation .btn.see-more {
    display: block;
    margin: 8rem auto;    
    width: fit-content;    
}
 
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .horizontal-line {
    width: 400px; 
    height: 1px; 
    background-color: white; 
    margin: 0.5rem auto 2rem auto; 
}

.review .box-container .box{
    margin-top: 2rem;
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
    color: #fff
}

.review .box-container .box p{
    font-size: 2rem;
    color: white;
    font-weight: 400;
    line-height: 8rem; 
    letter-spacing: -0.25px; 
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box .stars {    
    color: #ff0; 
}

.review .box-container .box .name {
    font-size: 2rem;
    color: white;
    font-weight: 400;
    line-height: 8rem; 
    letter-spacing: -0.25px; 
}



.contact .row{    
    display: flex;    
    gap: 5rem;    
}

.contact .horizontal-line {
    width: 400px; 
    height: 1px; 
    background-color: white; 
    margin: 0.5rem auto 2rem auto; 
}

.contact .row .map{
    flex:1 1 45rem;
    padding: 2rem;;
    width: 100%;
    height: auto;
    max-height: 56rem; 
    object-fit: cover;
    margin-bottom: 16px; 
    border-radius: 2rem;
    margin-top: 8rem;   
}

.contact .row form{    
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.footer {
    font-family: var(--Body-Medium-Font);
    font-size: var(--Body-Medium-Size);
    line-height: var(--Body-Medium-Line-Height);
    color: var(--main-color);  
    padding: 2rem 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
}

.contact-us, .working-hours {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-us {
    align-items: flex-start;
    width: 215px;    
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    letter-spacing: -0.25px;    
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-and-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 10px;
}

.logo {
    height: 6rem; /* Ajuste conforme necessário */
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.working-hours {
    align-items: flex-start; 
    width: 215px;    
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    letter-spacing: -0.25px;     
}

.working-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.credit {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: 400;
    letter-spacing: -0.25px;    
    width: 100%; 
    padding-top: 1.5rem;
    margin-bottom: 10rem; 
}










/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar_1,
    .header .navbar_2{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: auto;
    }

    .header .navbar_1.active {
    right: 0; 
    top: 15rem; 
    height: auto; 
    background: #fff; 
    display: block;
    padding: 1rem; 
    margin: 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .navbar_2.active {
    right: 0; 
    top: auto; 
    margin-top: 71rem; 
    height: auto; 
    background: #fff; 
    display: block; 
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .navbar_1 md-tab,
.header .navbar_2 md-tab {
    display: block; 
    margin: 1rem 0; 
    font-size: 1.8rem; 
    color: var(--black); 
    text-align: left; 
    padding: 0.5rem 1rem; 
    width: 100%; 
    box-sizing: border-box; 
}
        
.header .search-form{
        width: 90%;
        right: 2rem;
    }


.home{
        background-position: left;
        justify-content: center;
        text-align: center;
        
    }

.home .content h3{
        font-size: 4.5rem;
    }

.home .content p{
        font-size: 1.5rem;
    }

.about{
        align-items: flex-start;
        margin-top: -8rem;         
    }

.about .row {
        flex-direction: column;
        padding: 0 1rem;
    }

.about .row .content {
        padding: 2rem 1rem;
    }

.about .row .content .heading {
        font-size: 3rem;
    }

.about .row .content h3 {
        font-size: 2.5rem;
    }

.about .row .content p {
        font-size: 1.5rem;
    }

.about .row .content .horizontal-line {
        width: 100%;
    }

.about .row .content .button-container {
        justify-content: center;
    }

.menu .horizontal-line {
        width: 100%;
    } 

.menu{
        align-items: flex-start;
        margin-top: -15rem;         
    }
.menu .box-container .box{
        height:60rem;
}

.Products .horizontal-line {
    width: 100%;
}

.review .horizontal-line {
    width: 100%;
}

.contact .horizontal-line {
    width: 100%;
}

.contact .row {
    flex-direction: column;
    gap: 2rem;
}

.contact .row .map, .contact .row form {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 1rem;
}

.footer-content {
    flex-direction: column;
    align-items: center;
}

.contact-us, .working-hours {
    width: 100%;
    text-align: center;
}

.logo-and-social {
    align-items: center;
    padding: 5rem;      
}


.reservation .form-container {
    grid-template-columns: 1fr; 
}

.reservation .form-row {    
    width: 100%;
    margin-bottom: 1rem; 
}

.reservation .btn.see-more {
    margin: 4rem auto;
}
.credit {
    margin-top: 5rem;
    margin-bottom: 5rem;
}


}




@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
    
